

  <div class="container-fluid" style="text-align:center">
  
      <div class="col-md-12" style="font-size:20px;font-weight:bold">Displaying all countries of the selected region</div>
    </div>
    <div class="row" style="text-align:center">
      <div>
        <!--  <select class="form-control-custom" [(ngModel)]="selected"  placeholder="Filter Category By">
              <option>Get Countries By Currency Name</option>
              <ng-container *ngFor="let country of selectedRegion;">
                <option *ngFor="let currency of country.currencies"> {{currency.name}} </option>
              </ng-container>    
          </select>-->
        <br><br>
        <div>
            <input class="form-control-custom" [(ngModel)]="searchText" placeholder="Search Countries By Name(case-sensitive)">
          </div>
          <br><br>
        <div *ngFor="let country of selectedRegion |filter :searchText"> 
          <div id="countries" class="col-md-4">
          <div *ngIf="country" class="card black font-weight">
              <img class="card-img-top" src={{country.flag}} alt="Card image" class="img-responsive-custom">
              <h4 class="card-title">Country</h4>
              <div class="card-header">Name : {{country.name}}</div>
              <div class="card-body"> 
                <div class="card-text">Capital : {{country.capital}}</div>
                <div class="card-text">Native Name : {{country.nativeName}}</div>
                <div class="card-text">Subregion : {{country.subregion}}</div>
               
                <div *ngFor="let currency of country.currencies;let i=index;">
                  <div *ngIf="i<1"> 
                <div class="card-text">Currencies : {{currency.name}}</div>
            </div>
          </div>
            
            </div> 
              
              <div class="card-footer"><a title="Visit Country To Know More Details"class="btn button-custom" [routerLink]="['/singlecountryview',{code : country.alpha2Code}]" >Visit Country</a></div>
           
              <!-- <div class="card-body">{{book.publisher}}</div> 
              <div class="card-footer">{{book.released}} <br/><br/><a [routerLink]="['/view',book.url]" class="btn btn-primary">Details</a></div>-->
          
            </div>
        </div>
        </div>
      <div *ngIf="allData">
        <div *ngFor="let country of finalData |filter :searchText"> 
            <div id="countries" class="col-md-4">
                <div *ngIf="country" class="card black font-weight">
                    <img class="card-img-top" src={{country.flag}} alt="Card image" class="img-responsive-custom">
                    <h4 class="card-title">Country</h4>
                    <div class="card-header">Name : {{country.name}}</div>
                    <div class="card-body"> 
                      <div class="card-text">Capital : {{country.capital}}</div>
                      <div class="card-text">Native Name : {{country.nativeName}}</div>
                      <div class="card-text">Subregion : {{country.subregion}}</div>
                     
                      <div *ngFor="let currency of country.currencies;let i=index;">
                        <div *ngIf="i<1"> 
                      <div class="card-text">Currencies : {{currency.name}}</div>
                  </div>
                </div>
                  
                  </div> 
                    
                    <div class="card-footer"><a title="Visit Country To Know More Details"class="btn button-custom" [routerLink]="['/singlecountryview',{code : country.alpha2Code}]" >Visit Country</a></div>
                 
                    <!-- <div class="card-body">{{book.publisher}}</div> 
                    <div class="card-footer">{{book.released}} <br/><br/><a [routerLink]="['/view',book.url]" class="btn btn-primary">Details</a></div>-->
                
                  </div>
          </div>
          </div>
        </div>
  
        <br/>
      
  
    </div>

  </div>
  